<%- include("partials/header") %>


    <div class="container text-center" id="home-page-text">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To Student-Grader!</h1>
                <p>Create a session for your students and let multiple people mark it.</p>
                <p>
                   <a class="btn btn-primary btn-large" href="/sessions/new">Create a new session</a>
                </p>
            </div>
        </header>
    </div>

<%- include("partials/footer") %>
