<%- include("./partials/header") %>


  <div class="d-flex justify-content-center container" id="formContent">
    <form class="border border-dark p-5 w-75 p-3 rounded" action="/sessions/<%= session._id %>/usercode" method="POST">
      <div class="text-center">
        <p class="h4 mb-4">Enter your code</p>
      </div>
      <div class="form-group" id="accessNumber">
        <label>Access Code</label>
        <input type="text" class="form-control mb-4 input-sm" name="accesscode" placeholder="Enter the access code">
      </div>
      <div class="form-group" style="display:none" id="adminNumber">
        <strong><label>Admin Code</label></strong>
        <input type="text" class="form-control mb-4 input-sm" name="admincode" placeholder="Enter the admin code">
      </div>
      <div class="form-check form-group">
        <input type="checkbox" class="form-check-input" id="materialUnchecked">
        <label class="form-check-label" for="materialUnchecked">I am an admin</label>
    </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
 <script >
$('#materialUnchecked').change(function() {
    if ($('#materialUnchecked').prop('checked')) {
        $('#adminNumber').show();
        $('#accessNumber').hide();     
    } else {
        $('#adminNumber').hide();
        $('#accessNumber').show();
    }
});
  
</script>
<%- include("./partials/footer") %>