<%- include("../partials/header") %>


  <div class="d-flex justify-content-center container" id="formContent">
    <form class="border border-dark p-5 w-75 p-3 rounded" action="/sessions/<%= session._id %>/assignments" method="POST">
      <div class="text-center">
        <p class="h4 mb-4">Add a new assignment</p>
      </div>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control mb-4 input-sm" name="assignment[text]" placeholder="Title of the assignment">
      </div>
      <div class="form-group">
        <label>Assignment Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="assignment[description]" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label>Use existing excel file as rubric</label>
      <div class="input-group">
        
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
      </div>
    </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
     
      

    </form>
  </div>

<%- include("../partials/footer") %>